{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container py-5" style="height: 500px">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-bottom">
            <p class="h2 text-center">Contato</p>
        </div>
    </div>
        <form method="post" action="{% url 'contato' %}">
            {% csrf_token %}
            <div class="row py-4">
                <div class="col-6 py-1">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="name">
                </div>
                <div class="col-6 py-1">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="col-12 py-1">
                    <label for="assunto">Assunto</label>
                    <input type="text" class="form-control" id="assunto" name="subjectMatter">
                </div>
                <div class="col-12 py-1">
                    <label for="mensagem">Mensagem</label>
                    <textarea class="form-control" id="mensagem" name="message" rows="3"></textarea>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" value="Enviar" class="btn btn-primary w-25">
            </div>
        </form>
</div>
{% include 'footer/footer.html' %}
{% endblock %}