<div class="container py-5">
    <div class="card-deck">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <img src="#" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h3 class="card-title mt-2">aaaaaaaaaaaa</h3>
                    <p>aaaaaaaaaa</p>
                    <p><small>Criado por: ismael</small></p>
                    <p class=""><small>oooi</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
