{% load static %}
<div class="container py-5">
    {% for p in post %}
    <div class="card-deck py-2">
        <div class="card">
            <div class="row ">
                <div class="col-md-4">
                    <img src="{{ p.photo.url }}" class="img-fluid">
                </div>
                <div class="col-md-8 app1">
                    <h3 class="card-title mt-2">{{ p.title }}</h3>
                    <p>{{p.summary | safe }}</p>
                    <p><small>Criado por: {{ p.author }}</small></p>
                    <p class=""><small>{{ p.created_at }}</small></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
